.container-login-registration {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 1000;
}

.block-container{
    width: 800px;
    height: 500px;
    padding: 40px 0;
    z-index: 901;
    position:relative;
}

.block {
    border-radius: 6%;
    height: 100%;
    background-color: #939393;
    box-shadow: 0 5px 45px rgb(220, 220, 220);
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.block.active{
    background-color: #939393;
}

.block_item{
    width: 50%;
}

#overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
}

.block-item{
    text-align:center;
}

.block-item_title{
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}

.block-item_btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(220, 220, 220);
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.form-box {
    border-radius: 60px;
    background-color: #939393;
    height: 100%;
    width: 50%;
    box-shadow: 0 5px 45px rgb(220,220,220);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 902;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.form-box.active{
    left: 50%;
}

.font_title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

.form-box label{
    position: relative;
}

.form-box input{
    outline: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 15px 0;
    font-size: inherit;
}

.form-box input:focus{
    border-color: rgb(255,165,0);
}

    .form-box input:focus + span,
    .form-box input:not(:placeholder-shown) ~ span {
        top: 6px;
        left: 8px;
        font-size: 12px;
        color: rgb(220,220,220);
        background-color: #fff;
    }

span{
    cursor:text;
    position:absolute;
    top: 33%;
    left: 16px;
    color: rgb(131,131,131);
    transition: all 0.3s ease-in-out;
    padding: 0 4px;
}

.form-btn {
    border: none;
    cursor: pointer;
    background-color: rgb(220,220,220);
    color: #fff;
    padding: 10px 50px;
    margin-top: 10px;
    font-size: inherit;
    width: fit-content;
}

.form-btn_signup{
    background-color: #939393;
}

.form{
    width: 100%;
    padding: 50px;
    font-size: 16px;
    position:absolute;
    transition: 0.5s;
}

.form_signin{
    left:0;
    transition:0.25s;
}

.form_signup{
    left: 100%;
    transition: 0s;
}

.form-box.active .form_signin{
    left: -100%;
    transition: 0s;
}

.form-box.active .form_signup{
    left: 0;
    transition: 0.25s;
}

#error-message-signin {
    margin-top: 10px;
}

.error{
    color: red;
    font-size: 13px;
}
.confirm-email-form {
    margin-top: 130px;
    margin-bottom: 100px;
    display: grid;
    padding: 50px;
    width: fit-content;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    z-index: 901;
}

    .confirm-email-form input {
        outline: none;
        padding: 10px 5px;
        border: 1px solid #ccc;
    }

        .confirm-email-form input:focus {
            border-color: rgb(255, 165, 0);
        }

    .confirm-email-form .form_title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .confirm-email-form p {
        margin-bottom: 16px;
        max-width: 300px;
    }
.button_confirm_container {
    display: flex;
    gap: 20px; /* исправлено на gap */
    margin: 20px auto;
    justify-content: center; /* добавлено для центрирования элементов по горизонтали */
}

.button_confirm {
    cursor: pointer;
    justify-self: center; /* это свойство работает только в контексте grid, если используется flex, его можно удалить */
    background-color: rgb(255, 165, 0);
    color: #fff;
    padding: 15px 40px;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

    .button_confirm:hover {
        background-color: #ff8c00; /* Добавлен эффект наведения */
    }

.red {
    background-color: red;
    color: white;
    padding: 5px;
    background: #f9e2e2;
    border-radius: 4px;
}

.warning {
    padding: 5px;
    color: red;
    background: #f9e2e2;
    border-radius: 4px;
}
.container-login-registration,
.confirm-email-container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
