/* Сброс стилей */
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Основной стиль страницы */
body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

/* Навигационное меню */
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #A9A9A9;
}

    .menu ul li {
        padding: 15px 20px;
    }

        .menu ul li a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

            .menu ul li a:hover {
                text-decoration: underline;
            }

/* Контентная область */
.container {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 1200px;
}

/* Ссылка на главную страницу */
.link-page a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

    .link-page a:hover {
        text-decoration: underline;
    }

/* Низ страницы */
footer {
    background-color: #4CAF50; /* Зеленый цвет */
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Иконки */
.icon {
    display: none;
}

/* Сайд-меню */
.side-menu {
    position: fixed;
    display: none;
    top: 0;
    right: -100%;
    width: 100%;
    height: fit-content;
    background-color: #969696;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease;
    z-index: 200;
}

    .side-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 20px 0;
        display: grid;
        justify-content: space-around;
    }

        .side-menu ul li {
            margin: 10px 0;
        }

    /* Стили для ссылок в меню и сайд-меню */
    .menu a, .side-menu a {
        font-size: 15px;
        font-weight: 600;
        line-height: 150%;
        color: #0c0c10;
        text-decoration: none;
        display: block;
        text-align: center;
    }

    /* Кнопки в шапке и сайд-меню */
    .button-header .button,
    .side-menu .button {
        border: 2px solid black;
        background-color: transparent;
        padding: 7px 14px;
        margin: 0 10px;
        border-radius: 3px;
        color: black;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        transition: all 250ms ease;
    }

        .button-header .button:hover,
        .side-menu .button:hover {
            color: #fff;
            background-color: #370b0b;
        }
    №side-menu.active {
        display: flex; /* Показываем меню, когда добавлен класс "active" */
        flex-direction: column;
    }