@model School.Domain.ViewModels.LoginAndRegistration.ConfirmEmailViewModel

<div class="confirm-email-container" style="display:none;">
    <div class="confirm-email-form">
        <div class="form_title">Регистрация</div>

        <p>На указанную почту отправлено письмо с кодом подтверждения</p>
        <p>Введите код подтверждения:</p>

        <input type="text" placeholder="" id="code_confirm" />


        <div class="button_confirm_container">
            <div class="button_confirm send_confirm">Отправить</div>

            <div class="button_confirm red button_confirm_close">Закрыть</div>
        </div>

        <p class="warning">При закрытии данной формы Регистрация НЕ будет завершена</p>
    </div>

    <div class="overlay"></div>
</div>