@model School.Domain.ViewModels.LoginAndRegistration.ConfirmEmailViewModel

<div class="confirm-email-container" style="display: none;">
    <div class="confirm-email-form">
        <div class="form_title">Регистрация</div>
        <p>На указанную почту отправлено письмо с кодом подтверждения</p>
        <input type="text" placeholder="" asp-for="CodeConfirm" /> <span>Введите код подтверждения</span>
        <div class="button_confirm_container">
            <div class="button_confirm">Отправить</div>
            <div class="button_confirm red button_confirm_close">Закрыть</div>
        </div>
        <p class="warning">При закрытии данной формы Регистрация HE будет завершена </p>
    </div>
    <div class="overlay"></div>
    </div>
