﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Карандаш </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/shared.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login_and_registration.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/media_style.css" asp-append-version="true" />
</head>
<body>
    <div id="header-top">
        <div id="hamburger" class="icon">&#9776;</div>
        <div class="logo">Карандаш</div>
        <div class="button-header">
@if (User.Identity.IsAuthenticated)
                    {
            <button class="button" type="button" name="button" onclick="window.location.href = '@Url.Action("Logout","Home")'">
                Выйти</button>
}


@if (!User.Identity.IsAuthenticated)
                    {
<button class="button" id="click-to-hide" type="button" name="button">Войти</button>
}

</div>
</div>
<div id="side-menu" class="side-menu">
    <div>
        <ul>
            <li><a href="#home">Главная</a></li>
            <li><a href="#contact">Контакты</a></li>
            <li><a href="#services">Категории</a></li>
        </ul>
    </div>
    <button class="button" id="side-menu-button-click-to-hide" type="button" name="button">Войти</button>
</div>
<div id="header-bottom">
    <div class="menu">
        <ul>
            <li><a href="#home">Главная</a></li>
            <li><a href="#contact">Контакты</a></li>
            <li><a href="#services">Категории</a></li>
        </ul>
    </div>
</div>



@await Html.PartialAsync("_ConfirmEmailPartial")

@await Html.PartialAsync("_LoginRegistrationPartial")
<div class="container">




@RenderBody()
</div>
<footer>
    <div class="footer-left">
        <div class="logo">Карандаш</div>
        <p>
            В нашем магазине вы найдете все начиная от скрепки до школьного портфеля.
        </p>
        <div class="footer-Karandash">
            &copy; 2024 — Карандаш - Tizul
        </div>
    </div>
    <div class="footer-right">
        <div class="footer-menu">
            <ul>
                <li><a href="#home">Главная</a></li>
                <li><a href="#contact">Контакты</a></li>
                <li><a href="#services">Категории</a></li>
            </ul>
        </div>
    </div>
</footer>
<script src="~/js/shared_script.js" asp-append-version="true"></script>
<script src="~/js/home_script.js" asp-append-version="true"></script>
<script src="~/js/login_and_registration_script.js" asp-append-version="true"></script>
<script src="~/js/chared_script.js" asp-append-version="true"></script>
</body>
</html>